.u-section-1 {
  min-height: 100vh;
}

.u-logo-image-1 {
  max-width: none !important;
  max-height: none !important;
  width: 90px;
}

.u-text-body-color, a.u-button-style.u-text-body-color {
  color: white !important;
}

.u-section-1 .u-custom-html-1 {
  width: 570px;
  min-height: 228px;
  margin: 110px calc(((100% - 1140px) / 2) + 550px) 0 calc(((100% - 1140px) / 2) + 20px);
}

.u-section-1 .u-custom-html-2 {
  min-height: 820px;
  margin: -338px 0 0;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  min-height: 107px;
  background-image: none;
  margin: -208px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 50px 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 943px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -70px auto 0 203px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-top: -521px;
    margin-right: calc(((100% - 1140px) / 2) + 450px);
    margin-left: calc(((100% - 1140px) / 2) + 120px);
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    margin-top: -222px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-text-1 {
    margin-right: 743px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 164px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 230px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 563px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 129px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 423px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 223px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 63px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 26px;
  }
}.u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 655px;
}

.u-section-3 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 774px;
  pointer-events: auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-3 .u-image-1 {
  min-height: 774px;
  pointer-events: auto;
  background-image: url("../images/thumbnail_1801-7.jpg");
  background-position: 47.99% 0%;
  background-size: auto 110%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 638px;
  }

  .u-section-3 .u-image-1 {
    min-height: 638px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 489px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 846px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 462px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 158px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 26px;
  }
}.video {
	width: 100vw;
	object-fit: cover;
	height: 100vh;
}