body{
    margin: 0;
}
h1{
    color: white;
}
header{
    display: flex;
    background-color: #7da87b;
    height: 100px;
    width: 100%;
}
nav{
    flex: 60%;
    
}
#container_beheer{
    width: 100%;
}

#content_beheer{
    display: flex;
    height: auto;
}
.sides{
    flex: 20%;
}
.item{
    float: left;
    background-color: #7da87b;
    border: 2px solid white;
    height: 35px;
    margin: 25px 5px 0 5px;
    border-radius:5px;
    width: 150px;
    text-align: center;
}
.item a{
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.item:hover{
    border: 2px solid black;
    background-color: #6c9c69;
}
.inactiveLink {
    pointer-events: none;
    cursor: default;
 }
 .triangle {
    width: 0;
    height: 0;
  }
  .triangle .triangle-left {
    border-top: 50px solid transparent;
    border-right: 100px solid #32557f;
    border-bottom: 50px solid transparent;
  }