.u-button-style .u-nav-link
{
    padding: 10px 20px;
}

.u-header {
    position: relative;
}


.u-header .u-image-1 {
    margin: 42px 1076px 0 auto;
}

video 
{
    height: 100vh;
    width: 100vw;
}

